

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space mono", serif;
}

:root {
    --white: #fff;
    --mint-cream: #F1FFFA;
    --nyanza: #DFFEE3;
    --tea-green: #CCFCCB;
    --celadon: #96E6B3;
    --mint: #76B486;
    --fern-green: #568259;
    --hunter-green: #4E6850;
    --outer-space: #273d2a;

    --white: #fff;
    --floral-white: #fff7ee;
    --pale-dogwood: #E4BFB7;
    --old-rose: #C9867E;
    --redwood: #AE4D45;
    --penn-red: #92140C;
    --falu-red: #751712;
    --rosewood: #5e110e;
    --chocolate-cosmos: #38060c;
}

body{
    background: var(--pale-dogwood);
}

header{
    display: flex;
    justify-content: center;
    padding-block: 2.8rem;
}

main{
    background: var(--white);
    padding: 2rem;
    border-radius: 1.5625rem 1.5625rem 0 0;
}

.conta,
.tip,
.pessoas{
    margin-bottom: 2rem;
}

.conta label,
.gorjeta label{
    color: var(--redwood);
    font-weight: 700;
}

.conta div,
.pessoas div{
    margin-top: 0.4rem;
    background-color: var(--floral-white);
    padding: 0.4rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3125;
}

.conta input,
.pessoas input{
    border: none;
    text-align: right;
    width: 100%;
    background: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--chocolate-cosmos);
    outline: none;
}

.conta input::placeholder,
.pessoas input::placeholder{
    color: var(--old-rose);
}

.conta:has(input:focus) div,
.pessoas:has(input:focus) div{
    outline: 2px solid var(--penn-red);
    border-radius: 0.3125;
}

.tip div{
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.tip input{
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    outline: none;
    text-align: center;
    padding-block: 0.4rem;
    border-radius: 0.3125rem;
    background-color: var(--chocolate-cosmos);
    color: var(--white);
}

.tip #outra{
    width: 100%;
    background-color: var(--floral-white);
    color: var(--chocolate-cosmos);
}


.tip input::placeholder{
    color: var(--old-rose);
}

.pessoas #erro{
    display: none;
}

.resultados{
    background-color: var(--chocolate-cosmos);
    border-radius: 0.9375rem;
    padding: 1.5rem;
}

.resultados div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultados p{
    color: var(--old-rose);
    font-size: 0.8125rem;
}

.resultados p strong{
    color: var(--white);
    font-size: 1rem;
}

.resultados div > strong{
    color: var(--penn-red);
    font-size: 2rem;
}

.resultados .gorjeta-total{
    margin-bottom: 1.25rem;
}